body {
  /* background-color: black; */
  background-image: url(../images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: gray;

}

#fisherman {
  float: right;
  width: 300px;
  opacity: .8;
  /* position: fixed;
  top: 0;
  left: 200px; */
}

.scoreCount {
  margin: 0 auto;
  width: 960px;
}

.game-main {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 36px;
  color: yellow;
}

#answerSpaces {
  color: orange;
  font-style: oblique;

}
